*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background: linear-gradient(white, #4ace8e2c);
    overflow-x: hidden;
}

a{
    color: black;
    text-decoration: none;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container{
    position: absolute;     /* Posiciona o contêiner */
    top: 20%;               /* Move o contêiner 50% do topo */
    left: 40%;              /* Move o contêiner 50% da esquerda */
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}